---
---
@charset "utf-8";

$base-font-family: "brandon-grotesque", sans-serif;
$header-font-family: "museo-sans-condensed", sans-serif;
$base-font-size: 21px;
$mobile-font-size: 16px;
$mobile-nav-font-size: 34px;
$base-font-weight: 400;
$base-line-height: 1.5;

$black: #000;
$text-color: #fff;
$background-color: #040404;
$alt-background-color: #f4e9e1;
$brand-color: #4ae871;
$hover-color: #ef9543;

@import "neat/neat";
@import "normalize";
@import "grid";
@import "general";
@import "header";
@import "content";
@import "footer";
