---
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #0a0a0a;
$brand-color:      #4ae871;
$hover-color:      #ef9543;

@import "neat/neat";
@import "normalize";
@import "general";
@import "grid";
@import "header";
@import "content";
@import "footer";
