---
layout: frontpage
---
<div class="container">
    <div class="hero">
        <img src="/images/fox.svg" alt="" class="hero__image">
        <p>This is Lucky Fox. A company, where the finest<br> digital thinkers and businesses meet.</p>
    </div>
</div>




<div class="hungry">
    {% include picture.html cssClass="hungry__image" alt="Hungry fox" medium="/images/sections/stalking-fox-XL-1x.jpg, /images/sections/stalking-fox-XL-2x.jpg 2x"
    small="/images/sections/stalking-fox-S-1x.jpg, /images/sections/stalking-fox-S-2x.jpg 2x, /images/sections/stalking-fox-S-3x.jpg 3x" %}
    <div class="container">
        <div class="hungry__content">
            <h1>Hungry like a fox</h1>
            <p>
                We’re looking for the new generation of digital thinkers.
                If creating next level digital services floats your boat,
                <a href="#contact-us">give us a shout</a>.
            </p>
        </div>
    </div>
</div>

<div id="i-need-a-job" class="wanted">
    <div class="container">
        <div class="wanted__text">
            <h1>Most wanted foxes</h1>
            <p>
                Lucky Fox is specialized in bringing together the top notch digital natives with customers, who are in need of getting their business running faster, website looking better and digital services working like a dream.
                If you’re a digital mastermind looking for an encouraging workplace with a good flow, great benefits, interesting projects and possibilities to grow and develop, this is it.
            </p>
            <p>
                (At the moment we are hiring a professional for the position of:)
            </p>
            {% for job in site.data.jobs %}
            <div class="job job-{{ forloop.index }}">
                <span>
                    <h3 class="job__title">{{ job.name }}</h3>
                    <button class="job__button" id="{{ forloop.index }}">
                        <svg class="job__open-description" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34"><polygon points="17 25.63 2 12.07 5.34 8.37 17 18.91 28.66 8.37 32 12.07 17 25.63"/></svg>
                    </button>
                </span>
                <p class="job__description">{{ job.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="i-need-an-expert" class="hunting">
    {% include picture.html cssClass="hunting__image" alt="Hunting" medium="/images/sections/peeking-fox-XL-1x.jpg"
    small="/images/sections/peeking-fox-S-1x.jpg, /images/sections/peeking-fox-S-2x.jpg 2x, /images/sections/peeking-fox-S-3x.jpg 3x" %}
    <div class="container">
        <div class="hunting__text">
            <h1>Lucky Fox Hunting</h1>
            <div>
                <p>
                    <b>Us, the</b> Lucky Fox hunters, are not your typical headhunters. We’re specialized in smelling the potential from far. Therefore, you can be sure that you’ll find not just the best but also the foxiest digital masterminds from us.
                </p>
                <p>
                    <b>If you’re</b> looking for a digital native, who speaks the many languages of code, outsmarts anyone in software testing, and designs killer mobile apps, look no further. We have already chased down the most agile doers.
                </p>
                <p>
                    <b>Our clever</b> foxes can handle the modern day technologies. They know how to use them to speed up your business and take your services to the next level.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="contact-us" class="container">
    <div class="contacts h-card">
        <h1>Foxiest of the foxes</h1>
        {% for contact in site.data.contacts %}
        <div class="contact contact__{{ contact.id }}">
            <img class="u-photo" src="{{ contact.image }}" alt="{{ contact.name }}" />
            <div class="contact__info">
                <h3 class="p-name">{{ contact.name }}</h3>
                <span class="u-email">{{ contact.email }}</span></br>
                <span class="p-tel">{{ contact.phone }}</span>
            </div>
            <div class="contact__description">
                <p class="p-note">{{ contact.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
