<footer class="footer">
    <div class="container">
        <div class="footer__address h-card">
            <div class="vertical-center">
                <span class="p-name">Luckyfox Oy</span>
                <div class="p-adr h-adr">
                    <span class="p-street-address">Elektroniikkatie 2B</span>
                    <span class="p-postal-code">90590</span>
                    <span class="p-locality">Oulu</span>,
                    <span class="p-country-name">Finland</span>
                </div>
            </div>
        </div>
        <div class="footer__logo">
            <img src="/images/foxhead.svg" alt="" class="footer__logo-img">
        </div>
        <div class="footer__some-links">
            <div class="vertical-center">
                <a href="#">
                    <img src="/images/icon-facebook.svg" alt="Luckyfox Facebook" width="50" height="50">
                </a>
                <a href="#">
                    <img src="/images/icon-twitter.svg" alt="Luckyfox Twitter" width="50" height="50">
                </a>
            </div>
        </div>
    </div>
</footer>