<footer class="footer">
    <div class="container">
        <div class="footer__address h-card">
            <span class="p-name">Luckyfox Oy</span>
            <div class="p-adr h-adr">
                <span class="p-street-address">Elektroniikkatie 2B</span>
                <span class="p-postal-code">90590</span>
                <span class="p-locality">Oulu</span>,
                <span class="p-country-name">Finland</span>
            </div>
        </div>
        <div class="footer__logo">LOGO</div>
        <div class="footer__some-links">F | T</div>
    </div>
</footer>