<header class="header container" data-section-name="head">
    <div class="header__title">
        <h1>
            <a href="/">
                <img src="/images/logotxt.svg" alt="Luckyfox" class="header__logo">
            </a>
        </h1>
    </div>

    <nav class="header__navigation">
        <button class="header__mobile-nav-btn header__mobile-nav-btn--open">
            <img src="/images/icon-burger.svg" width="36" height="36" alt="">
        </button>
        <button class="header__mobile-nav-btn header__mobile-nav-btn--close">
            <img src="/images/icon-close.svg" width="36" height="36" alt="">
        </button>
        <ul>
            <li><a href="#i-need-a-job">I need a job</a></li>
            <li><a href="#i-need-an-expert">I need an expert</a></li>
            <li><a href="#contact-us">Contact us</a></li>
        </ul>
    </nav>
</header>
