<header class="header container">
    <div class="header__title">
        <h1>
            <a href="/">
                <img src="/images/logotxt.svg" alt="Luckyfox" class="header__logo">
            </a>
        </h1>
    </div>

    <div class="header__navigation">
        <ul>
            <li><a href="/#i-need-a-job">I need a job</a></li>
            <li><a href="/#i-need-an-expert">I need an expert</a></li>
            <li><a href="/#contac-us">Contact us</a></li>
        </ul>
    </div>
</header>