.hero {
  @include grid-column(4);
  @include grid-push(4);
  text-align: center;

  p {
    $font-size: 26px;
    font-size: $font-size;
    font-weight: 300;
    line-height: $font-size * $base-line-height;
  }
}

.hero__image {
  width: 150px;
  height: auto;
}

.hungry, .wanted, .hunting, .contact {
  p {
    text-align: justify;
  }
}

.hungry {
  h1, div {
    @include grid-column(5);
    @include grid-push(5);
  }
}

.wanted {
  background: $alt-background-color;
  color: $black;

  span {
    display: inline-flex;

    a {
      margin-top: 1.5em;
      margin-left: 1.0em;
    }
  }
}

.wanted__text {
  @include grid-column(8);
  @include grid-push(2);
}

.hunting__text {
  @include grid-column(4);
  @include grid-push(6);
}

.contacts {
  @include grid-column(8);
  @include grid-push(2);
}

.contact {
  @include grid-column(4);
  margin-left: 0;

  img {
    border-radius: 50%;
    float: left;
    height: auto;
    width: 120px;
  }
}

.contact__info {
  float: left;

  .p-name {
    font-family: $header-font-family;
  }
}

.contact__description {
  float: left;
}

.contact__2 {
  margin-left: inherit;
  float: right;
}
