.hero {
  @include grid-column(12);
  @include grid-media($medium-grid) {
    @include grid-column(4);
    @include grid-push(4);
  }
  text-align: center;

  p {
    $font-size: 26px;
    font-size: $font-size;
    font-weight: 300;
    line-height: $font-size * $base-line-height;
  }
}

.hero__image {
  width: 150px;
  height: auto;
}

.hungry, .wanted, .hunting, .contact {
  p {
    text-align: justify;
  }
}

.hungry {
  position: relative;
}

.hungry__image {
  position: relative;
  display: block;
}

.hungry__content {
  @include grid-column(9);
  @include grid-push(2);
  top: 10%;
  left: 3%;
  position: absolute;
  @include grid-media($large-grid) {
    @include grid-column(4);
    @include grid-push(5);
  }
}

.wanted {
  background: $alt-background-color;
  color: $black;

  span {
    display: inline-flex;

    a {
      margin-top: 1.5em;
      margin-left: 1.0em;
    }
  }
}

.wanted__text {
  @include grid-column(8);
  @include grid-push(2);
}

.wanted__chevron, .wanted__chevron:focus {
  cursor: pointer;
  background: none;
  border: none;
  margin: 5px 0 0 10px;
  outline: 0;
}

.hunting__text {
  @include grid-column(5);
  @include grid-push(6);
}

.wanted__content {
  .wanted__description {
    max-height: 0vh;
    overflow: hidden;
    transition: all 0.50s;
  }

  .wanted__job-header {
      transition: all 1s;
  }
  .chevron {
    width: auto;
    height: 20px;
  }
}

.wanted__content-open {
  .wanted__description {
    max-height: 50vh;
    overflow: hidden;
    transition: all 1s;
  }
  .wanted__job-header {
    color: $brand-color;
    transition: all 1s;
  }
  .chevron {
    fill: $brand-color;
    height: 20px;
    transform: rotate(180deg);
    transition: all 1s;
    width: auto;
  }
}

.contacts {
  @include grid-column(8);
  @include grid-push(2);
}

.contact {
  @include grid-column(4);
  margin-left: 0;
  img {
    border-radius: 50%;
    float: left;
    height: auto;
    width: 120px;
  }
}

.contact__info {
  float: left;

  .p-name {
    font-family: $header-font-family;
  }
}

.contact__description {
  float: left;
}

.contact__2 {
  float: right;
}
