.section {
  min-height: 100vh;
  position: relative;
}

.section--short {
  max-height: 100%;
  min-height: 90vh;
  top: -30px;
  @include grid-media($extra-large-grid) {
    min-height: 95vh;
  }
}

.hero {
  @include grid-column(12);
  margin-bottom: 100px;
  margin-top: 3em;
  text-align: center;
  @include grid-media($large-grid) {
    @include grid-column(6);
    @include grid-push(3);
  }
}

.hero__image {
  height: auto;
  width: 150px;
  z-index: 1;
}

.hungry, .wanted, .hunting, .contact {
  p { text-align: justify; }
  h1 { line-height: 1.25em; }
}

.hungry.section {
  min-height: 100%;
  @include grid-media($medium-grid) {
    max-height: 100%;
    min-height: 50%;
    overflow: hidden;
    width: 100%;
  }
}

.hungry__image {
  display: block;
  img {
    height: auto;
    left: 0;
    width: 100vw;
  }
}

.hungry__content {
  @include grid-column(8);
  @include grid-push(4);
  position: absolute;
  top: 0;
  h1 { @include grid-media($large-grid) { white-space: nowrap; } }
  p { @include grid-media($extra-large-grid) { width: 60%; } }
  @include grid-media($small-grid) {
    @include grid-column(7);
    @include grid-push(4);
  }
  @include grid-media($large-grid) {
    @include grid-column(5);
    @include grid-push(5);
    top: 5vh;
  }
}

.wanted {
  background: $alt-background-color;
  color: $black;
}

.wanted__text {
  margin-bottom: 100px;
  padding-bottom: 3em;
  padding-top: 3em;
  @include grid-column(10);
  @include grid-push(1);
  @include grid-media($medium-grid) {
    @include grid-column(8);
    @include grid-push(2);
    font-size: 0.85em;
  }
  @include grid-media($extra-large-grid) {
    @include grid-column(6);
    @include grid-push(3);
  }
}

.job__open { display: inline-flex; }

.job__button, .job__button:focus {
  cursor: pointer;
  background: none;
  border: none;
  outline: 0;
}

.job__open-description { height: 20px; }

.job__description, .job__title, .job__open-description { transition: all 1s; }

.job__description {
  margin: 0;
  max-height: 0;
  overflow: hidden;
}

.job--open {
  .job__description {
    max-height: 100vh;
    overflow: visible;
  }
  .job__title { color: $brand-color; }
  .job__open-description {
    fill: $brand-color;
    transform: rotate(180deg);
  }
}

.hunting__text {
  margin-bottom: 100px;
  @include grid-column(12);
  @include grid-media($small-grid) {
    @include grid-column(10);
    @include grid-push(1);
  }
  @include grid-media($medium-grid) { padding-bottom: 5%; }
  @include grid-media($hunting-grid) {
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    width: 30%;
  }
  h1 {
    height: 20px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    @include grid-media($medium-grid) {
      white-space: normal;
    }
    @include grid-media($hunting-grid) {
      height: auto;
      text-align: left;
      width: 100%;
    }
  }
}

.hunting__image {
  height: auto;
  max-height: 400px;
  overflow: hidden;
  width: 100%;
  @include grid-media($medium-grid) {
    float: left;
    max-height: 100%;
  }
  @include grid-media($hunting-grid) {
    height: 100vh;
    overflow: hidden;
    width: 60%;
  }
  img {
    height: 100%;
    width: 100%;
    @include grid-media($hunting-grid) {
      height: 100vh;
      max-height: 100%;
      position: relative;
      width: auto;
    }
  }
}

.hunting__image-bottom {
  img { width: 100%; }
  @include grid-media($medium-grid) { display: none; }
}

.contacts__all {
  padding-top: 3em;
  text-align: center;
  @include grid-media($medium-grid) {
    @include grid-column(10);
    @include grid-push(1);
  }
  @include grid-media($large-grid) { @include grid-column(12); }
  @include grid-media($extra-large-grid) {
    @include grid-column(8);
    @include grid-push(2);
  }
  h1 {
    @include grid-media($large-grid) {
      @include grid-column(12);
      padding-left: 25px;
      text-align: left;
    }
    @include grid-media($extra-large-grid) { @include grid-column(8); }
  }
}

.contact {
  @include grid-column(12);
  margin-bottom: 2em;
  margin-top: 2em;
  @include grid-media($medium-grid) {
    @include grid-column(10);
    @include grid-push(1);
  }
  @include grid-media($large-grid) { @include grid-column(6); }
  h3 {
    margin: 10px;
    @include grid-media($large-grid) {
      margin-bottom: 0;
      margin-left: 2px;
      width: 100%;
    }
  }
  &:last-child { padding-bottom: 2em; }
}

.contact__info {
  @include grid-column(12);
  .p-name {font-family: $header-font-family;}
  @include grid-media($large-grid) {
    @include grid-column(6);
    line-height: 2em;
    margin-top: 1em;
    text-align: left;
  }
}

.contact__image {
  margin: 0;
  width: 100%;
  @include grid-media($large-grid) { @include grid-column(5); }
  img {
    border-radius: 50%;
    height: 130px;
    @include grid-media($medium-grid) { height: 160px; }
    @include grid-media($large-grid) { float: left; }
  }
}

.contact__description {
  @include grid-column(12);
  @include grid-media($small-grid) {
    @include grid-column(6);
    @include grid-push(3);
  }
  @include grid-media($medium-grid) { @include grid-column(12); }
}
