.hero {
  @include grid-column(12);
  @include grid-media($medium-grid) {
    @include grid-column(6);
    @include grid-push(3);
  }
  text-align: center;
  p {
    $font-size: 26px;
    font-size: $font-size;
    font-weight: 300;
    line-height: $font-size * $base-line-height;
  }
}

.hero__image {
  height: auto;
  width: 150px;
}

.hungry, .wanted, .hunting, .contact {
  p {
    text-align: justify;
  }
}

.hungry {
  float: none;
  margin-left: 0;
  position: relative;
}

.hungry__image {
  display: block;
  float: left;
  height: auto;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }
}

.hungry__content {
  @include grid-column(7);
  @include grid-push(3);
  left: 3%;
  position: absolute;
  top: 10%;
  @include grid-media($large-grid) {
    @include grid-column(6);
    @include grid-push(4);
  }
  @include grid-media($extra-large-grid) {
    @include grid-column(4);
    @include grid-push(5);
  }
}

.wanted {
  background: $alt-background-color;
  color: $black;

  span {
    display: inline-flex;

    a {
      margin-left: 1.0em;
      margin-top: 1.5em;
    }
  }
}

.wanted__text {
  @include grid-column(10);
  @include grid-push(1);
  @include grid-media($medium-grid) {
    @include grid-column(8);
    @include grid-push(2);
  }
}

.job__button, .job__button:focus {
  background: none;
  border: none;
  cursor: pointer;
  margin: 5px 0 0 10px;
  outline: 0;
}

.job__description, .job__title, .job__open-description {
  transition: all 1s;
}

.job__description {
  max-height: 0;
  overflow: hidden;
  transition: all 0.50s;
}

.job__open-description {
  height: 20px;
  width: auto;
}

.job--open {
  .job__description {
    max-height: 50vh;
  }
  .job__title {
    color: $brand-color;
  }
  .job__open-description {
    fill: $brand-color;
    transform: rotate(180deg);
  }
}

.hunting__text {
  @include grid-column(10);
  @include grid-push(1);
  h1 {
    height: 20px;
    margin-left: 0;
    position: relative;
    text-align: center;
    top: -190px;
  }
  @include grid-media($small-grid) {
    h1 {top: -330px;}
  }
  @include grid-media($small-grid) {
    text-align: center;
  }
  @include grid-media($large-grid) {
    margin-left: 50px;
    margin-top: 50px;
    width: 35%;
    h1 {
      height: auto;
      position: relative;
      text-align: left;
      top: auto;
    }
  }
  @include grid-media($extra-large-grid) {
    margin-left: 5%;
    margin-top: 5%;
  }
}

.hunting {
  .container::after {
    clear: both;
    content: "";
    background-image: url(/images/sections/peeking-fox-S-1x.jpg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    height: 60px;
    opacity: 0.6;
  }
  @include grid-media($large-grid) {
    .container::after {
      background: none;
      display: block;
      height: inherit;
    }
  }
}

.hunting__image {
  display: block;
  float: left;
  height: auto;
  margin-left: 0;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }
  @include grid-media($medium-grid) {
    height: 100%;
    min-height: 100%;
  }
  @include grid-media($large-grid) {
    margin-left: 0;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 55%;
    img {
      width: 100%;
    }
  }
}

.contacts {
  h1 {
    @include grid-column(10);
    @include grid-push(1);
    text-align: center;
    @include grid-media($medium-grid) {
      @include grid-column(10);
    }
    @include grid-media($large-grid) {
      @include grid-column(7);
      @include grid-push(1);
      overflow: visible;
    }
  }
}

.contact {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: left;
  @include grid-column(10);
  @include grid-push(1);
  @include grid-media($medium-grid) {
    @include grid-column(6);
  }
  @include grid-media($large-grid) {
    @include grid-column(5);
    @include grid-push(1);
  }
  @include grid-media($extra-large-grid) {
    @include grid-column(3);
    @include grid-push(2);
  }
}

.contact__info {
  text-align: center;
  @include grid-column(10);
  @include grid-push(1);
  .p-name {font-family: $header-font-family;}
  @include grid-media($medium-grid) {
    @include grid-column(7);
    margin-left: 0;
    text-align: left;
    h3 {margin-left: 0;}
  }
  @include grid-media($large-grid) {
  }
}

.contact__image {
  border-radius: 50%;
  height: 120px;
  text-align: center;
  @include grid-column(8);
  @include grid-push(2);
  @include grid-media($medium-grid) {
    @include grid-column(4);
  }

}

.contact__description {
  float: left;
  @include grid-media($medium-grid) {
    @include grid-column(12);
  }
}
