.footer {
  background: $brand-color;
  box-shadow: inset 0 15px 25px -15px #000;
  bottom: 0;
  color: #000;
  padding-left: 30px;
  padding-right: 30px;
  .p-street-address { display: block; }
}

.footer__vertical-container {
  @include grid-media($medium-grid) { @include vertical-center; }
}

.footer__info {
  @include grid-column(12);
  float: none;
  @include grid-media($extra-large-grid) {
    @include grid-column(8);
    @include grid-push(2);
    float: none;
  }
}

.footer__address, .footer__logo, .footer__some-links { text-align: center; }

.footer__address {
  @include grid-column(12);
  height: 100px;
  @include grid-media($medium-grid) {
    @include grid-column(4);
    position: absolute;
    text-align: left;
  }
  @include grid-media($large-grid) { @include grid-column(3); }
}

.footer__logo {
  @include grid-column(12);
  height: 200px;
  @include grid-media($medium-grid) {
    @include grid-column(4);
    @include grid-shift(4);
  }
  @include grid-media($large-grid) {
    @include grid-column(2);
    @include grid-shift(5);
  }
}

.footer__some-links {
  @include grid-column(12);
  height: 100px;
  a {
    margin-left: 20px;
    text-decoration: none;

    &:first-of-type {
      margin-left: 0;
    }
  }
  @include grid-media($medium-grid) {
    @include grid-column(3);
    @include grid-shift(9);
    position: absolute;
  }
  @include grid-media($large-grid) {
    @include grid-column(3);
    @include grid-shift(7);
    margin-right: 30px;
    position: relative;
    text-align: right;
  }
}

.footer__address, .footer__logo, .footer__some-links {
  @include grid-media($medium-grid) { height: 220px; }
}

.footer__logo-img {
  height: auto;
  width: 120px;
  @include vertical-center;
}
