body {
  background: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $mobile-font-size;
  line-height: $mobile-font-size * $base-line-height;
  font-weight: $base-font-weight;

  @include grid-media($medium-grid) {
    font-size: $base-font-size;
    line-height: $base-font-size * $base-line-height;
  }
}

h1 {
  font-family: $header-font-family;
  font-size: $header-font-size-mobile;
  text-transform: uppercase;
  @include grid-media($medium-grid) {
      font-size: $header-font-size;
  }
}

a {
  text-decoration: none;

  &:link, &:visited {
    color: $brand-color;
  }

  &:hover, &:active {
    color: $hover-color;
  }
}

.container {
  @include grid-container;
}

@mixin vertical-center() {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.vertical-center {
  @include vertical-center;
}

%clear-btn {
  cursor: pointer;
  box-sizing: content-box;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline: none;
  }
}

.scroll {
  bottom: 1px;
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
}

.scroll__button {
  @extend %clear-btn;

  svg {
    height: 50px;
    @include grid-media($medium-grid) {
      height: 70px;
    }
  }

  &:active {
    .scroll__element {
      fill: $hover-color;
    }
  }
}

@media (hover: hover) {
  .scroll__button {
    &:hover {
      .scroll__element {
        fill: $hover-color;
      }
    }
  }
}

.scroll__element {
  fill: #fff;
}

.scroll__button--alt {
  .scroll__element {
    fill: $black;
  }
}

.text-link {
  text-decoration: none;
}

@mixin single-color-link($color: $black) {
  &:link, &:hover, &:active, &:visited {
    color: $color;
  }
}

.text-link--black {
  @include single-color-link;
}

.text-link--white {
  @include single-color-link(#fff);
}
