/**
 * Grid and responsive breakpoints
 */

$neat-grid: (
  columns: 12,
  gutter: 30px,
);

$header-grid: (
  columns: 16
);

$extra-large-grid: (
  media: 1500px
);

$large-grid: (
  media: 992px
);

$medium-grid: (
  media: 768px
);

$small-grid: (
  media: 576px
);
